<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <title>Title</title>
  </head>

  <body>
    <!-- 评论列表展示区域 -->
    <div id="app-listcomments" style="width: 80%; margin: auto">
      <publish @func="getComment" :post-comment="postComment"></publish>
      <br />
      <div class="form-group">
        <label for="user"> 用户: </label>
        <input type="text" class="form-control" id="user" v-model="user" />
      </div>
      <br />
      <div class="container">
        <ul class="list-group">
          <li
            class="
              list-group-item
              d-flex
              justify-content-between
              align-items-center
            "
            style="margin: 5px"
            v-for="item in list"
            :key="item.id"
          >
            <div>
              <span>{{ item.user }} :</span>
              {{ item.content }}
              <a class="btn btn-link" @mousedown="commentOpen(item.id)">回复</a>
              <button
                class="glyphicon glyphicon-trash"
                style="float: right"
                v-if="item.user==user"
                @click="deleteComment(item.id)"
              />
            </div>
            <div
              v-show="activeReplyCommentId==item.id"
              style="margin-top: 20px"
            >
              <textarea
                style="width: 100%"
                :placeholder="'回复：'+item.user"
                maxlength="1000"
                :ref="item.id"
                @blur="replyBlur"
                v-model="activeReplyText[item.id]"
              ></textarea>
              <div align="right">
                <input
                  type="button"
                  value="取消回复"
                  @click="activeReplyCommentId=-1"
                />
                <input
                  type="submit"
                  value="发表评论"
                  @mousedown="replyComment(item.user,activeReplyText[item.id],item.id)"
                />
              </div>
            </div>
            <ul class="list-group">
              <li
                class="
                  list-group-item
                  d-flex
                  justify-content-between
                  align-items-center
                "
                style="margin: 5px"
                v-if="item.sub"
                v-for="subitem in item.sub"
                :key="subitem.id"
              >
                <div>
                  <span>{{ subitem.user }} :</span>
                  {{ subitem.content }}
                  <a class="btn btn-link" @mousedown="commentOpen(subitem.id)"
                    >回复</a
                  >
                  <button
                    class="glyphicon glyphicon-trash"
                    style="float: right"
                    v-if="subitem.user==user"
                    :title="subitem.id"
                    @click="deleteComment(subitem.id)"
                  />
                </div>
                <div
                  v-show="activeReplyCommentId==subitem.id"
                  style="margin-top: 20px"
                >
                  <textarea
                    style="width: 100%"
                    :placeholder="'回复：'+subitem.user"
                    maxlength="1000"
                    :ref="subitem.id"
                    @blur="replyBlur"
                    v-model="activeReplyText[subitem.id]"
                  ></textarea>
                  <div align="right">
                    <input
                      type="button"
                      value="取消回复"
                      @click="activeReplyCommentId=-1"
                    />
                    <input
                      type="submit"
                      value="发表评论"
                      @mousedown="replyComment(subitem.user,activeReplyText[subitem.id],item.id)"
                    />
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
        {{activeReplyText}} {{list}}
      </div>
    </div>
    <!-- _search?_source=thread_name -->
    <!-- 提交评论的表单组件 -->
    <template id="publish">
      <div>
        <div class="card border-info">
          <div class="card-body">
            <div class="container">
              <form>
                <div class="form-group">
                  <label for="user"> 评论人: </label>
                  <input
                    type="text"
                    class="form-control"
                    id="user"
                    v-model="user"
                  />
                </div>
                <div class="form-group">
                  <label for="content"> 评论内容: </label>
                  <textarea
                    id="content"
                    class="form-control"
                    v-model="content"
                  ></textarea>
                </div>
                <input
                  type="button"
                  value="评论"
                  class="btn btn-primary"
                  @click="comment"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </template>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.w3school.com.cn/jquery/jquery-1.11.1.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      //组件创建（使用局部组件方式）
      var publish = {
        data() {
          return {
            articleId: 1,
            user: 1,
            toUser: 1,
            content: ''
          }
        },
        template: '#publish',
        methods: {
          comment() {
            if (this.user == '' || this.content == '') {
              alert('输入框请不要留空白')
            } else {
              this.postComment(
                this.articleId,
                this.user,
                this.toUser,
                this.content,
                'main'
              )
              this.user = this.content = ''
            }
          }
        },
        props: {
          postComment: {}
        }
      }
      const vm = new Vue({
        el: '#app-listcomments',
        data: {
          list: [],
          articleId: 1,
          activeReplyCommentId: -1,
          activeReplyText: {},
          user: 'user1'
        },
        created() {
          this.getComment()
        },
        components: {
          publish: publish
        },
        methods: {
          replyBlur(e) {
            console.log(e)
            this.activeReplyCommentId = -1
          },
          commentOpen(id) {
            let vm = this
            setTimeout(function () {
              vm.activeReplyCommentId = id
            }, 5)
            setTimeout(function () {
              $(vm.$refs[id]).focus()
            }, 10)
          },
          getComment() {
            axios
              .get(
                'http://localhost:8686/comments/search/serach?articleId=1&commentType=main&projection=inlineComment'
              )
              .then((res) => {
                console.log(res)
                this.list = res.data._embedded.comments
              })
              .catch((error) => {
                console.log(error)
              })
          },
          replyComment(toUser, content, id) {
            this.postComment(
              this.articleId,
              this.user,
              toUser,
              content,
              'sub',
              'http://localhost:8686/comments/' + id
            )
          },
          postComment(articleId, user, toUser, content, commentType, id) {
            axios
              .post('http://localhost:8686/comments', {
                articleId: articleId,
                user: user,
                toUser: toUser,
                content: content,
                commentType: commentType,
                root: id ? 'http://localhost:8686/comments/' + id : null
              })
              .then((res) => {
                console.log(res)
                this.getComment()
              })
              .catch((error) => {
                console.log(error)
              })
          },
          deleteComment(id) {
            axios
              .delete('http://localhost:8686/comments/' + id)
              .then((res) => {
                this.getComment()
              })
              .catch((error) => {
                console.log(error)
              })
          }
        }
      })
    </script>
  </body>
</html>
